<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" conetent="with=device-width, initial-scale=1.0">
        <title>
            KHETIFY
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/javascript-plugins-bundle.css') }}" rel="stylesheet">

    </head>
    <body>
        <section class="sub-header">
            <nav>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='image/logo.png') }}"></a>
                <div class="nav-links">
                    
                    
                    <ul>
                        <li><a href="{{ url_for('home') }}">HOME</a></li>
                        <li><a href="{{ url_for('crop_predict')}}">CROP PREDICTION</a></li>
                        <li><a href="{{ url_for('fertilizer_recommendation')}}">FERTILIZER RECOMMENDATION</a></li>
                        <li><a href="{{ url_for('disease_prediction') }}">PLANT DISEASE DETECTION</a></li>
                        <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                        <li><a href="{{ url_for('home') }}#con">CONTACT</a></li>
                    </ul>
                </div>
                
            </nav>
</section>

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>PLANT DISEASE DETECTION</h1>
            <p>Plant disease prediction is a crucial aspect of modern agriculture that uses cutting-edge technologies to foresee and manage potential dangers to crop health.
                 In order to create predictive models, data from several sources are combined, such as historical disease incidence, soil properties, and weather trends.
                  These models forecast the likelihood of specific plant diseases in a given area using data analytics and machine learning.</p>
            <h1>STEP TO USE PLANT DISEASE DETECTION</h1>
            <ul>
                <li>sadfasdsadadsasdsaddasddasd</li>
                <li>asdasdasdasdasdasdasdasddasdd</li>
                <li>sadfasdsadadsasdsaddasddasd</li>
                <li>asdasdasdasdasdasdasdasddasdd</li>
                <li>sadfasdsadadsasdsaddasddasd</li>
                <li>asdasdasdasdasdasdasdasddasdd</li>
            </ul>
            <br>

            <a href="{{ url_for('disease_prediction') }}" class="hero-btn red-btn">Explore now</a>
        </div> 
         <div class="about-col">
        <img src="{{ url_for('static', filename='image/plantd.jpg') }}">
         </div>

    </div>


</section>


<section class="footer">
    <a href="{{ url_for('about') }}"><h4>About us</h4></a>
    <p>DISCLAMER::
        <span class="glowing-text">This is a final year college project conducted for educational purposes only.<br>The dataset used in this project may be questionable and may not be representative of the real world.
      <br>Therefore, the predictions and any information provided in this project should be considered inaccurate and should not be relied upon for any real-world decisions.</span>
    </p>
    <div class="icons">
        <i class="fa fa-facebook" ></i>
        <i class="fa fa-twitter" ></i>
        <i class="fa fa-instagram" ></i>
        <i class="fa fa-linkedin" ></i>

    </div>
    <p>Made by <i class="fa fa-heart-o" ></i> CSIT-7</p>


    <button id="dark-mode-toggle">Dark Mode</button>
    <button id="scroll-to-top-button">
        <i class="fa fa-arrow-up "  aria-hidden="true" alt="Scroll to Top" hidden> </i></button>

    <script src="{{ url_for('static', filename='scripts/scrit.js') }}"></script>

</section>

    </body>
</html>
