<!-- admin-dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your head content here -->
    <title>Admin Dashboard</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="background-container">

            <nav>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='image/logo.png') }}"></a>
                <div class="nav-links">


                    <ul>
                        <li><a href="{{ url_for('admin_dashboard') }}">DASHBOARD</a></li>
                        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
                    </ul>
                </div>

            </nav>

                <h1>Welcome to the Admin Dashboard !!!</h1>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% for user in all_users %}
                            <tr>
                                <td>{{ user.uid }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a href="{{ url_for('delete_user', user_id=user.uid) }}" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
                                </td>
                            </tr>



                        {% endfor %}
                    </tbody>
                </table>

            </div>

</section>


</body>
</html>
